:root {
    --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
    --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
    --Grayish_Blue: hsl(212, 23%, 69%);
    --Light_Grayish_Blue: hsl(210, 46%, 95%);

    --Primary_Font: "Manrope", sans-serif;
}

body {
    background: var(--Light_Grayish_Blue);
    font-family: var(--Primary_Font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: 100%;
}

@media screen and (min-width: 600px) {
    body {
        height: 100vh;
    }
}
.card {
    background-color: white;
    color: var(--Very_Dark_Grayish_Blue);
    max-width: 320px;
    margin: 0 1.2rem;
    border-radius: 10px;
    font-size: 13px;
    line-height: 1.6;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 900px) {
    .card {
        max-width: 770px;
        height: 300px;
        display: flex;
    }

    .card__body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.card__header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 210px;
}

@media screen and (min-width: 900px) {
    .card__header {
        width: 730px;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
}

.card__header-banner {
    background-image: url("../images/drawers.jpg");
    background-position: top center;
    background-size: cover;
    border-radius: inherit;
    height: 100%;
}

@media screen and (min-width: 900px) {
    .card__header-banner {
        background-position: top left;
    }
}
.card__title {
    font-size: 1rem;
    margin-top: 2.2rem;
    padding: 0 2rem 0;
    font-weight: 700;
}

@media screen and (min-width: 900px) {
    .card__title {
        font-size: 1.3rem;
        line-height: 1.4;
    }
}

.card__main {
    padding: 0 2rem 0;
    color: var(--Desaturated_Dark_Blue);
}

.card__footer {
    display: flex;
    padding: 10px 2rem 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 900px) {
    .card__footer {
        position: relative;
    }
}

.card__footer--active {
    background-color: var(--Very_Dark_Grayish_Blue);
    color: var(--Desaturated_Dark_Blue);
}

@media screen and (min-width: 900px) {
    .card__footer--active {
        background-color: transparent;
        color: inherit;
    }
}

.card__footer-main {
    display: flex;
    align-items: inherit;
}

.card__footer-main-text {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 11px 0;
    line-height: initial;
}

.card__footer-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card__footer-description {
    margin-left: 15px;
    line-height: initial;
}

.card__footer-description-name {
    font-weight: 700;
    margin: 0;
}

.card__footer-description-date {
    margin: 0;
    color: var(--Desaturated_Dark_Blue);
}

.card__footer-share {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--Light_Grayish_Blue) url("../images/icon-share.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: ease-in-out 0.3s;
}

.card__footer-share--active,
.card__footer-share:hover {
    background: var(--Desaturated_Dark_Blue)
        url("../images/icon-share-light.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.card__footer-icon {
    margin-left: 15px;
    width: 20px;
}

.card__footer-share-tag {
    position: absolute;
    top: -70px;
    right: -70px;
    color: var(--Desaturated_Dark_Blue);
    background-color: var(--Very_Dark_Grayish_Blue);
    padding: 7px 40px;
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__footer-share-tag::after {
    content: "";
    position: absolute;
    top: 43px;
    right: 108px;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    background-color: var(--Very_Dark_Grayish_Blue);
}

.attribution {
    margin-top: 1.5rem;
    font-size: 12px;
}

.attribution a {
    color: inherit;
}
